@page "/register"
@using Economiq.Client.Service
@using Economiq.Shared.DTO
@inject AppState _appState
@inject UserService _userService
@inject NavigationManager _navManager
@implements IDisposable

<style>
    .register{
       color: white;
    }
    .message{
        color: white;
    }
</style>

<PageTitle>Register</PageTitle>

<h2 class="register">Register</h2>
<p class="message">@_succesMessage</p>
<fieldset>
    <EditForm Model=@NewUser OnValidSubmit="OnSubmit">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <div class="mb-2 form-group form-floating">
            <InputText id="Fname" placeholder="Firstname" @bind-Value="@NewUser.Fname" class="form-control" />
            <label for="Fname">Firstname:</label>
            <ValidationMessage For="@(() => NewUser.Fname)" />
        </div>
        <div class="mb-2 form-group form-floating">
            <InputText id="Lname" placeholder="Lastname" @bind-Value="@NewUser.Lname" class="form-control" />
            <label for="Lname">Lastname:</label>
            <ValidationMessage For="@(() => NewUser.Lname)" />
        </div>
        <div class="mb-2 form-group form-floating">
            <InputText id="Username" placeholder="Username" @bind-Value="@NewUser.Username" class="form-control" />
            <label for="Username">Username:</label>
            <ValidationMessage For="@(() => NewUser.Username)" />
        </div>
        <div class="mb-2 form-group form-floating">
            <InputText id="email" placeholder="Email" @bind-Value="@NewUser.email" class="form-control" />
            <label for="email">Email:</label>
            <ValidationMessage For="@(() => NewUser.email)" />
        </div>
        <div class="mb-2 form-group form-floating">
            <InputText id="password" type="Password" placeholder="password" @bind-Value="@NewUser.password" class="form-control" />
            <label for="password">Password:</label>
            <ValidationMessage For="@(() => NewUser.password)" />
        </div>
        <div>
       

            <button class="btn btn-primary">Register</button>


        </div>

    </EditForm>

</fieldset>


@code {
    public UserDTO NewUser = new();
    private string _succesMessage = string.Empty;

    private async void OnSubmit()
    {
        NewUser.Gender = string.Empty;
        await _userService.CreateUser(NewUser);
        NewUser.Fname = string.Empty;
        NewUser.Lname = string.Empty;
        NewUser.Username = string.Empty;
        NewUser.email = string.Empty;
        NewUser.password = string.Empty;
        _succesMessage = "Registration has been succesful!";
        _navManager.NavigateTo("/");


    }




    public void Dispose()
    {
        _appState.OnStateChange -= StateHasChanged;
    }


}
