@using Economiq.Client.Service
@using Economiq.Shared.DTO
@inject ExpenseService _expenseService
@inject RecipientService _recipientService

<p>@Confirmation</p>
<EditForm Model="@NewExpense" OnValidSubmit="@HandleSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div>
        <label for="title"></label>
        <InputTextArea id="title" placeholder="Expense" @bind-Value="@NewExpense.Title"></InputTextArea>
        <ValidationMessage For="@(() => @NewExpense.Title)" />
    </div>
    <div>
        <label for="amount"></label>
        <InputNumber id="amount" @bind-Value="@NewExpense.Amount"></InputNumber>
        <ValidationMessage For="@(() => @NewExpense.Amount)" />
    </div>
    <div>
        <label for="category"></label>
        <InputTextArea id="category" placeholder="Category" @bind-Value="@NewExpense.CategoryName"></InputTextArea>
        <ValidationMessage For="@(() => @NewExpense.CategoryName)" />
    </div>
    <div>
        <label for="date"></label>
        <InputDate id="date" @bind-Value="@CreationDate"></InputDate>
        <ValidationMessage For="@(() => @NewExpense.ExpenseDate)" />
    </div>
    <InputSelect id="Type" @bind-Value=NewExpense.RecipientName>
        @foreach (RecipientDTO recipient in _recipients)
        {
            <option Value=@recipient.Name>@recipient.Name</option>
        }
    </InputSelect>

    <button type="submit">Create Expense</button>
</EditForm>
@code {
    [Parameter]
    public EventCallback UpdateList { get; set; }
    public string Confirmation { get; set; } = String.Empty;
    private List<RecipientDTO> _recipients = new();
    public ExpenseDTO NewExpense { get; set; } = new();
    public DateOnly CreationDate { get; set; } = DateOnly.FromDateTime(DateTime.Now);

    protected override async Task OnInitializedAsync()
    {
        _recipients = await _recipientService.GetRecipients();
        NewExpense.ExpenseDate = CreationDate.ToString("yyyy-MM-dd");

        if (_recipients.Count > 0)
        {
            NewExpense.RecipientName = _recipients[0].Name;
        }
        StateHasChanged();
    }

    public async Task HandleSubmit()
    {
        NewExpense.ExpenseDate = CreationDate.ToString("yyyy-MM-dd");
        await _expenseService.CreateExpense(NewExpense);

        CreationDate = DateOnly.FromDateTime(DateTime.Now);
        NewExpense = new ExpenseDTO()
            {
                ExpenseDate = CreationDate.ToString("yyyy-MM-dd"),
                RecipientName = _recipients[0].Name
            };
        Confirmation = "Expense Created";
        await UpdateList.InvokeAsync();
    }
}
